# Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Leemos el dataset

In [2]:
df = pd.read_csv('../data/train.csv')

# Análisis

Primero podemos usar .info para tener una idea general del dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null object
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
dtypes: float64(15), int64(1), object(7)
memory usage: 42.1+ MB

Con value_counts() podemos ver la distribución de valores que toma una columna en particular

In [7]:
df[]

TypeError: '>' not supported between instances of 'str' and 'int'

Si la columna tiene un valor númerico puede ser interesante ver su histograma con la función hist()

In [ ]:
df['metroscubiertos'].hist()

Otra posibilidad al ser valores numéricos es ver su distribución mediante la función describe(). Como parámetro acepta que le pasemos todos los percentiles que queremos ver.

In [ ]:
df['metroscubiertos'].describe()

En pandas es simple filtrar el dataset por el valor del alguna columna. 
Igualar una columna a un valor (df['ciudad']=='Mérida'), nos devuelve una serie de booleanos que sirven para indexar el dataset. También podemos filtrar filas en base a otros criterios, como tirar las que tienen valores "NaN" con la función dropna()

In [ ]:
df['ciudad']=='Mérida'

In [ ]:
df_merida = df[df['ciudad']=='Mérida'].dropna()

Para ver la relación entre algunas variables puede ser útil realizar un primer gráfico. Pandas tiene sus funciones para graficar basadas en matplotlib. Existen otras librerías como Seaborn que, si bien también está basada sobre matplotlib, da algunas funcionalidades más.

In [ ]:
sns.scatterplot(data=df_merida, x='metroscubiertos', y='precio')

En pandas es muy simple agregar una nueva columna con un valor calculado a partir de las otras. Por ejemplo, nuestro inmuebles serán "copados para ejercitar" si tiene gimnasio y pileta.

In [ ]:
df['copado para ejercitar'] = (df['piscina']>0) & (df['gimnasio']>0)

In [ ]:
df.columns

In [ ]:
df['copado para ejercitar'].value_counts()

Más allá de que podemos segmentar utilizando filtros, a veces queremos realizar una acción para cada una de las segmentaciones posibles. Esto lo podemos lograr con la función groupby() que agrupa los valores y luego no deja aplicar una función sobre el grupo.

In [ ]:
df.groupby('tipodepropiedad')['copado para ejercitar'].mean()